<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 Jason Bayldon

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<configuration>
  <configSections>

  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="taskt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="taskt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  
  
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  

  <applicationSettings>
    <taskt.Properties.Settings>
      <setting name="ActivateWindow_Name" serializeAs="String">
        <value>Активировать окно</value>
      </setting>
      <setting name="Window_Group" serializeAs="String">
        <value>Комманды окон</value>
      </setting>
      <setting name="Execute_DLL_cn" serializeAs="String">
        <value>(Execute DLL) 执行DLL</value>
      </setting>
      <setting name="Execute_REST_API_cn" serializeAs="String">
        <value>(Execute REST API)执行REST API</value>
      </setting>
      <setting name="HTTP_Request_cn" serializeAs="String">
        <value>(HTTP Request)HTTP请求</value>
      </setting>
      <setting name="HTTP_Result_Query_cn" serializeAs="String">
        <value>(HTTP Result Query)HTTP结果查询</value>
      </setting>
      <setting name="Date_Calculation_cn" serializeAs="String">
        <value>(Date Calculation)日期计算</value>
      </setting>
      <setting name="Format_Data_cn" serializeAs="String">
        <value>(Format Data)格式数据</value>
      </setting>
      <setting name="Get_Word_Count_cn" serializeAs="String">
        <value>(Get Word Count)得到字数</value>
      </setting>
      <setting name="Get_Word_Length_cn" serializeAs="String">
        <value>(Get Word Length)得到字长</value>
      </setting>
      <setting name="Log_Data_cn" serializeAs="String">
        <value>(Log Data)日志数据</value>
      </setting>
      <setting name="Modify_Variable_cn" serializeAs="String">
        <value>(Modify Variable)修改变量</value>
      </setting>
      <setting name="Parse_JSON_Array_cn" serializeAs="String">
        <value>(Parse JSON Array)解析JSON数组</value>
      </setting>
      <setting name="Parse_JSON_Object_cn" serializeAs="String">
        <value>(Parse JSON Object)解析JSON对象</value>
      </setting>
      <setting name="PDF_Extraction_cn" serializeAs="String">
        <value>(PDF Extraction)PDF提取</value>
      </setting>
      <setting name="RegEx_Extraction_cn" serializeAs="String">
        <value>(RegEx Extraction)RegEx提取</value>
      </setting>
      <setting name="Replace_Text_cn" serializeAs="String">
        <value>(Replace Text)替换文字</value>
      </setting>
      <setting name="Split_Text_cn" serializeAs="String">
        <value>(Split Text)替换文字</value>
      </setting>
      <setting name="Substring_cn" serializeAs="String">
        <value>(Substring)子</value>
      </setting>
      <setting name="Text_Extraction_cn" serializeAs="String">
        <value>(Text Extraction)文本提取</value>
      </setting>
      <setting name="Error_handling_cn" serializeAs="String">
        <value>(Error handling)错误处理</value>
      </setting>
      <setting name="Get_BotStore_Data_cn" serializeAs="String">
        <value>(Get BotStore Data)获取BotStore数据</value>
      </setting>
      <setting name="Pause_Script_cn" serializeAs="String">
        <value>(Pause Script)暂停脚本</value>
      </setting>
      <setting name="Set_Engine_Delay_cn" serializeAs="String">
        <value>(Set Engine Delay)设置引擎延迟</value>
      </setting>
      <setting name="Stopwatch_cn" serializeAs="String">
        <value>(Stopwatch)跑表</value>
      </setting>
      <setting name="Upload_BotStore_Data_cn" serializeAs="String">
        <value>(Upload BotStore Data)上传BotStore数据</value>
      </setting>
      <setting name="Activate_Sheet_cn" serializeAs="String">
        <value>(Activate Sheet)激活工作表</value>
      </setting>
      <setting name="Add_Workbook_cn" serializeAs="String">
        <value>(Add Workbook)添加工作簿</value>
      </setting>
      <setting name="Close_Excel_Application_cn" serializeAs="String">
        <value>(Close Excel Application)关闭Excel应用程序</value>
      </setting>
      <setting name="Create_Dataset_cn" serializeAs="String">
        <value>(Create Dataset)创建数据集</value>
      </setting>
      <setting name="Create_Excel_Application_cn" serializeAs="String">
        <value>(Create Excel Application)创建Excel应用程序</value>
      </setting>
      <setting name="Delete_Cell_cn" serializeAs="String">
        <value>(Delete Cell)删除单元格</value>
      </setting>
      <setting name="Delete_Row_cn" serializeAs="String">
        <value>(Delete Row)删除行</value>
      </setting>
      <setting name="Get_Cell_cn" serializeAs="String">
        <value>(Get Cell)获取细胞</value>
      </setting>
      <setting name="Get_Last_Row_Index_cn" serializeAs="String">
        <value>(Get Last Row Index)获取最后一行索引</value>
      </setting>
      <setting name="Go_To_Cell_cn" serializeAs="String">
        <value>(Go To Cell)转到细胞</value>
      </setting>
      <setting name="Open_Workbook_cn" serializeAs="String">
        <value>(Open Workbook)打开工作簿</value>
      </setting>
      <setting name="Run_Macro_cn" serializeAs="String">
        <value>(Run Macro)运行宏</value>
      </setting>
      <setting name="Save_Workbook_cn" serializeAs="String">
        <value>(Save Workbook)保存工作簿</value>
      </setting>
      <setting name="Save_Workbook_As_cn" serializeAs="String">
        <value>(Save Workbook As)将工作簿另存为</value>
      </setting>
      <setting name="Set_Cell_cn" serializeAs="String">
        <value>(Set Cell)设置单元格</value>
      </setting>
      <setting name="Delete_File_cn" serializeAs="String">
        <value>(Delete File)删除文件</value>
      </setting>
      <setting name="Move_Copy_File_cn" serializeAs="String">
        <value>(Move/Copy File)移动/复制文件</value>
      </setting>
      <setting name="Rename_File_cn" serializeAs="String">
        <value>(Rename File)重新命名文件</value>
      </setting>
      <setting name="Wait_For_File_cn" serializeAs="String">
        <value>(Wait For File)等待文件</value>
      </setting>
      <setting name="Close_Browser_cn" serializeAs="String">
        <value>(Close Browser)关闭浏览器</value>
      </setting>
      <setting name="Create_Browser_cn" serializeAs="String">
        <value>(Create Browser)创建浏览器</value>
      </setting>
      <setting name="Element_Action_cn" serializeAs="String">
        <value>(Element Action)元素行动</value>
      </setting>
      <setting name="Find_Browser_cn" serializeAs="String">
        <value>(Find Browser)查找浏览器</value>
      </setting>
      <setting name="Navigate_to_URL_cn" serializeAs="String">
        <value>(Navigate to URL)导航到URL</value>
      </setting>
      <setting name="Begin_If_cn" serializeAs="String">
        <value>(Begin If)从如果开始</value>
      </setting>
      <setting name="Else_cn" serializeAs="String">
        <value>(Else)其他</value>
      </setting>
      <setting name="End_If_cn" serializeAs="String">
        <value>(End If)万一</value>
      </setting>
      <setting name="Image_Recognition_cn" serializeAs="String">
        <value>(Image Recognition)图像识别</value>
      </setting>
      <setting name="Perform_OCR_cn" serializeAs="String">
        <value>(Perform OCR)执行OCR</value>
      </setting>
      <setting name="Take_Screenshot_cn" serializeAs="String">
        <value>(Take Screenshot)截图</value>
      </setting>
      <setting name="Prompt_for_HTML_Input_cn" serializeAs="String">
        <value>(Prompt for HTML Input)提示输入HTML</value>
      </setting>
      <setting name="Prompt_for_Input_cn" serializeAs="String">
        <value>(Prompt for Input)提示输入</value>
      </setting>
      <setting name="Send_Advanced_Keystrokes_cn" serializeAs="String">
        <value>(Send Advanced Keystrokes)发送高级击键</value>
      </setting>
      <setting name="Send_Keystrokes_cn" serializeAs="String">
        <value>(Send Keystrokes)发送击键</value>
      </setting>
      <setting name="Send_Mouse_Click_cn" serializeAs="String">
        <value>(Send Mouse Click)发送鼠标单击</value>
      </setting>
      <setting name="Send_Mouse_Move_cn" serializeAs="String">
        <value>(Send Mouse Move)发送鼠标移动</value>
      </setting>
      <setting name="UI_Automation_cn" serializeAs="String">
        <value>(UI Automation)UI自动化</value>
      </setting>
      <setting name="End_Loop_cn" serializeAs="String">
        <value>(End Loop)结束循环</value>
      </setting>
      <setting name="Exit_Loop_cn" serializeAs="String">
        <value>(Exit Loop)退出循环</value>
      </setting>
      <setting name="Loop_Continuously_cn" serializeAs="String">
        <value>(Loop Continuously)循环不断</value>
      </setting>
      <setting name="Loop_Dataset_cn" serializeAs="String">
        <value>(Loop Dataset)循环数据集</value>
      </setting>
      <setting name="Loop_List_cn" serializeAs="String">
        <value>(Loop List)循环列表</value>
      </setting>
      <setting name="Loop_Number_Of_Times_cn" serializeAs="String">
        <value>(Loop Number Of Times)循环次数</value>
      </setting>
      <setting name="Add_Code_Comment_cn" serializeAs="String">
        <value>(Add Code Comment)添加代码注释</value>
      </setting>
      <setting name="Get_Clipboard_Text_cn" serializeAs="String">
        <value>(Get Clipboard Text)获取剪贴板文本</value>
      </setting>
      <setting name="Send_SMTP_Email_cn" serializeAs="String">
        <value>(Send SMTP Email)发送SMTP电子邮件</value>
      </setting>
      <setting name="Sequence_Command_cn" serializeAs="String">
        <value>(Sequence Command)序列命令</value>
      </setting>
      <setting name="Set_Clipboard_Text_cn" serializeAs="String">
        <value>(Set Clipboard Text)设置剪贴板文本</value>
      </setting>
      <setting name="Show_Message_cn" serializeAs="String">
        <value>(Show Message)显示消息</value>
      </setting>
      <setting name="Create_NLG_Instance_cn" serializeAs="String">
        <value>(Create NLG Instance)创建NLG实例</value>
      </setting>
      <setting name="Generate_NLG_Phrase_cn" serializeAs="String">
        <value>(Generate NLG Phrase)生成NLG短语</value>
      </setting>
      <setting name="Set_NLG_Parameter_cn" serializeAs="String">
        <value>(Set NLG Parameter)设置NLG参数</value>
      </setting>
      <setting name="Run_Custom_Code_cn" serializeAs="String">
        <value>(Run Custom Code)运行自定义代码</value>
      </setting>
      <setting name="Run_Script_cn" serializeAs="String">
        <value>(Run Script)运行脚本</value>
      </setting>
      <setting name="Start_Process_cn" serializeAs="String">
        <value>(Start Process)开始流程</value>
      </setting>
      <setting name="Stop_Process_cn" serializeAs="String">
        <value>(Stop Process)停止流程</value>
      </setting>
      <setting name="Environment_Variable_cn" serializeAs="String">
        <value>(Environment Variable)环境变量</value>
      </setting>
      <setting name="Launch_Remote_Desktop_cn" serializeAs="String">
        <value>(Launch Remote Desktop)启动远程桌面</value>
      </setting>
      <setting name="OS_Variable_cn" serializeAs="String">
        <value>(OS Variable)OS变量</value>
      </setting>
      <setting name="System_Action_cn" serializeAs="String">
        <value>(System Action)系统行动</value>
      </setting>
      <setting name="Run_Task_cn" serializeAs="String">
        <value>(Run Task)运行任务</value>
      </setting>
      <setting name="Stop_Current_Task_cn" serializeAs="String">
        <value>(Stop Current Task)停止当前任务</value>
      </setting>
      <setting name="Read_Text_File_cn" serializeAs="String">
        <value>(Read Text File)阅读文本文件</value>
      </setting>
      <setting name="Write_Text_File_cn" serializeAs="String">
        <value>(Write Text File)写文本文件</value>
      </setting>
      <setting name="Add_To_Variable_cn" serializeAs="String">
        <value>(Add To Variable)添加到变量</value>
      </setting>
      <setting name="New_Variable_cn" serializeAs="String">
        <value>(New Variable)新变量</value>
      </setting>
      <setting name="Set_Variable_cn" serializeAs="String">
        <value>(Set Variable)设置变量</value>
      </setting>
      <setting name="Set_Variable_Index_cn" serializeAs="String">
        <value>(Set Variable Index)设置变量索引</value>
      </setting>
      <setting name="Close_Web_Browser_cn" serializeAs="String">
        <value>(Close Browser)关闭浏览器</value>
      </setting>
      <setting name="Create_Web_Browser_cn" serializeAs="String">
        <value>(Create Browser)创建浏览器</value>
      </setting>
      <setting name="Element_Web_Action_cn" serializeAs="String">
        <value>(Element Action)元素行动</value>
      </setting>
      <setting name="Execute_Script_cn" serializeAs="String">
        <value>(Execute Script)执行脚本</value>
      </setting>
      <setting name="Navigate_Back_cn" serializeAs="String">
        <value>(Navigate Back)导航回来</value>
      </setting>
      <setting name="Navigate_Forward_cn" serializeAs="String">
        <value>(Navigate Forward)向前导航</value>
      </setting>
      <setting name="Navigate_to_Web_URL_cn" serializeAs="String">
        <value>(Navigate to URL)导航到URL</value>
      </setting>
    </taskt.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <taskt.Properties.Settings>
      <setting name="AddToVariable_Name" serializeAs="String">
        <value>Добавить к переменной</value>
      </setting>
      <setting name="BeginContinousLoop_Name" serializeAs="String">
        <value>Начать цикл</value>
      </setting>
      <setting name="AddVariable_Name" serializeAs="String">
        <value>Новая переменная</value>
      </setting>
      <setting name="BeginExcelDatasetLoop_Name" serializeAs="String">
        <value>Начать цикл данных Excel</value>
      </setting>
      <setting name="BeginIf_Name" serializeAs="String">
        <value>Начать условную ветку</value>
      </setting>
      <setting name="BeginListLoop_Name" serializeAs="String">
        <value>Начать цикл по элементам списка</value>
      </setting>
      <setting name="BeginNumberOfTimesLoop_Name" serializeAs="String">
        <value>Начать цикл, выполняющийся несколько раз</value>
      </setting>
      <setting name="ClipboardGetText_Name" serializeAs="String">
        <value>Получить текст из буфера обмена</value>
      </setting>
      <setting name="ClipboardSetText_Name" serializeAs="String">
        <value>Добавить текст в буфер обмена</value>
      </setting>
      <setting name="CloseWindow_Name" serializeAs="String">
        <value>Закрыть окно</value>
      </setting>
      <setting name="Comment_Name" serializeAs="String">
        <value>Комментарий</value>
      </setting>
      <setting name="DatabaseRunQuery_Name" serializeAs="String">
        <value>Запустить запрос к базе данных</value>
      </setting>
      <setting name="DateCalculation_Name" serializeAs="String">
        <value>Посчитать дату</value>
      </setting>
      <setting name="DeleteFile_Name" serializeAs="String">
        <value>Удалить файл</value>
      </setting>
      <setting name="Else_Name" serializeAs="String">
        <value>Альтернативная ветка</value>
      </setting>
      <setting name="EndIf_Name" serializeAs="String">
        <value>Закончить условную ветку</value>
      </setting>
      <setting name="EndLoop_Name" serializeAs="String">
        <value>Закончить цикл</value>
      </setting>
      <setting name="EnvironmentVariable_Name" serializeAs="String">
        <value>Переменная среды</value>
      </setting>
      <setting name="ErrorHandling_Name" serializeAs="String">
        <value>Ветвь ошибки</value>
      </setting>
      <setting name="ExcelActivateSheet_Name" serializeAs="String">
        <value>Активировать лист Excel</value>
      </setting>
      <setting name="ExcelAddWorkbook_Name" serializeAs="String">
        <value>Добавить файл Excel</value>
      </setting>
      <setting name="ExcelCloseApplication_Name" serializeAs="String">
        <value>Закрыть Excel</value>
      </setting>
      <setting name="ExcelCreateDataSet_Name" serializeAs="String">
        <value>Создать набор данных Excel</value>
      </setting>
      <setting name="ExcelDeleteCell_Name" serializeAs="String">
        <value>Удалить ячейку Excel</value>
      </setting>
      <setting name="ExcelDeleteRow_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelGetCell_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelGetLastRow_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelGoToCell_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelOpenWorkbook_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelRunMacro_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSaveAs_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSave_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSetCell_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExecuteDLL_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ExitLoop_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="FormatDataCommand_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="GetData_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="GetWordCount_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="GetWordLength_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="HTMLInputCommand_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="HTTPQueryResultCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="HTTPRequest_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="IEBrowserClose_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="IEBrowserCreate_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="IEBrowserElementAction_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="IEBrowserFindBrowser_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="IEBrowserNavigateURL_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageRecognition_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="LogData_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="MessageBox_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ModifyVariable_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="MoveFile_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="MoveWindow_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="NLGCreateInstance_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="NLGGeneratePhrase_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="NLGSetParameter_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="OCR_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="OSVariable_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ParseJSONArray_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ParseJson_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Pause_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="PDFTextExtractor_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="ReadTextFile_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowsGroup_Name" serializeAs="String">
        <value>Команды окон</value>
      </setting>
      <setting name="Refresh_cn" serializeAs="String">
        <value>(Refresh)刷新</value>
      </setting>
      <setting name="Activate_Window_cn" serializeAs="String">
        <value>(Activate Window)激活窗口</value>
      </setting>
      <setting name="Close_Window_cn" serializeAs="String">
        <value>(Close Window)关闭窗口</value>
      </setting>
      <setting name="Move_Window_cn" serializeAs="String">
        <value>(Move Window)移动窗口</value>
      </setting>
      <setting name="Resize_Window_cn" serializeAs="String">
        <value>(Resize Window)调整窗口大小</value>
      </setting>
      <setting name="Set_Window_State_cn" serializeAs="String">
        <value>(Set Window State)设置窗口状态</value>
      </setting>
      <setting name="Wait_For_Window_To_Exist_cn" serializeAs="String">
        <value>(Wait For Window To Exist)等待窗口存在</value>
      </setting>
    </taskt.Properties.Settings>
  </userSettings>
</configuration>
